h1 {
    text-align: center;
    color:#025157;
font-family: "Alegreya", serif;
font-size: 60px;
margin-bottom: 24px;
margin-top: 0;

}
body {
    background-color: #fffbf7;
    text-align: center;
}
button {
    background-color: #022157;
    color: #ffffff;
}
.header {
    padding-top: 0%;
    margin: px 20px 0 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}
.header > * {
    display: inline-block;
    font-size: 16px;
}

main {
    margin-top: 250px;
}
main h4 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
}
main > p {
    color: #8b8b8bcc;
    margin-top: 15px;
}
li {
    display: inline;
}
.logo {
    width: 20%;
}

.navbar {
width: 60%;
text-align: center;
color: #025157;
}

.navbar >ul {
    padding-left: 0;
}

.itemnavecagion {
    padding: 8px;
    margin: 0 25px;
}

.action {
width: 20%;
text-align: center;
font-size: 14px;
}
.action > * {
    margin: 0 10px;
}
.ActionsSig { 
    color: #67b54b;
    text-decoration: none;
}
.action > button {
    background-color: #67b54b;
    color: #ffffff;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px; 
}